/* Variables */
/* Mixins */
/* Common */
html {
  background: #8ceabbd1;
  font-family: "Saira", sans-serif;
  font-size: 18px;
  line-height: 1;
  text-align: center; }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img, a, button, input, select {
  border: 0;
  outline: 0; }

.blind {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -999em; }

.cursive {
  font-family: "Lalezar", cursive; }

.serif {
  font-family: "Roboto Slab", serif; }

.kor {
  font-family: "Noto Sans KR", sans-serif; }

.eng {
  font-family: "Saira", sans-serif; }

/* Wrapper - Common */
#wrapper {
  position: relative;
  max-width: 1024px;
  min-width: 680px;
  margin: 100px auto 10px;
  background: #fdfef1; }
  #wrapper #main-menu {
    position: relative; }
    #wrapper #main-menu li {
      position: absolute;
      top: -50px;
      width: 45px;
      height: 100px;
      background-color: #ff7c49;
      z-index: -999;
      -webkit-transition-duration: .8s;
              transition-duration: .8s;
      -webkit-transition-property: all;
      transition-property: all; }
      #wrapper #main-menu li:hover {
        top: -80px; }
      #wrapper #main-menu li:active, #wrapper #main-menu li:focus {
        border: none; }
      #wrapper #main-menu li a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%; }
        #wrapper #main-menu li a img {
          position: absolute;
          top: 10px;
          left: 7px; }
    #wrapper #main-menu li:nth-child(1) {
      right: 30px; }
    #wrapper #main-menu li:nth-child(2) {
      right: 100px; }
    #wrapper #main-menu li:nth-child(3) {
      right: 170px; }
    #wrapper #main-menu li:nth-child(4) {
      right: 240px; }
    #wrapper #main-menu li:nth-child(5) {
      right: 310px; }
  #wrapper #status-wrapper {
    position: absolute;
    left: 20px;
    top: -35px;
    font-size: 13px;
    font-weight: 600; }
    #wrapper #status-wrapper li {
      float: left;
      margin-right: 7px;
      border: 2px solid #6b6b6b;
      background: #fbd437;
      -webkit-transition-duration: .4s;
              transition-duration: .4s; }
      #wrapper #status-wrapper li a {
        display: block;
        padding: 5px;
        color: #383838; }
      #wrapper #status-wrapper li:hover, #wrapper #status-wrapper li:active, #wrapper #status-wrapper li:focus {
        background: #6b6b6b; }
        #wrapper #status-wrapper li:hover a, #wrapper #status-wrapper li:active a, #wrapper #status-wrapper li:focus a {
          color: #fdfef1; }
      #wrapper #status-wrapper li:first-of-type {
        background: none;
        border: none; }
        #wrapper #status-wrapper li:first-of-type #status {
          margin-top: 7px;
          font-weight: 400; }
      #wrapper #status-wrapper li:last-of-type {
        width: 0;
        border: none; }
        #wrapper #status-wrapper li:last-of-type #btn-logout {
          display: none;
          width: 62px;
          height: 26.5px;
          border: 2px solid #6b6b6b;
          background: #fbd437;
          color: #383838;
          font-size: 13px;
          font-weight: 600;
          font-family: "Saira", sans-serif;
          cursor: pointer;
          -webkit-transition-duration: .4s;
                  transition-duration: .4s; }
          #wrapper #status-wrapper li:last-of-type #btn-logout:hover, #wrapper #status-wrapper li:last-of-type #btn-logout:active, #wrapper #status-wrapper li:last-of-type #btn-logout:focus {
            background: #6b6b6b;
            color: #fdfef1; }
    #wrapper #status-wrapper #gear {
      position: absolute;
      left: -18px;
      top: 36px; }
  #wrapper #footer {
    position: absolute;
    bottom: -25px;
    width: 100%; }
    #wrapper #footer #copy {
      /* width: 135px; */
      width: 150px;
      margin: 0 auto;
      font-size: 15px; }
    #wrapper #footer #go-to-top {
      position: fixed;
      bottom: 10px;
      right: 15px;
      padding: 1px 2px;
      border: 2px solid #000000bf;
      border-radius: 20px;
      background: #615b5b5e;
      -webkit-transition-duration: .4s;
              transition-duration: .4s; }
      #wrapper #footer #go-to-top:hover, #wrapper #footer #go-to-top:active, #wrapper #footer #go-to-top:focus {
        background: #4eaeecd4; }

/* Grid Common */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 14.29%;
  grid-template-columns: 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 14.29%; }
  .grid-container .cell {
    padding: 10px 0;
    margin-top: -1px;
    border: 1px solid black; }
  .grid-container .first {
    padding: 0;
    background: #a3a3a3; }
  .grid-container .last {
    border-bottom: 1px solid black; }
  .grid-container #header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: 1 / 2 / span 2 / span 5;
    padding: 30px;
    background-color: #fbd437; }
  .grid-container #submenu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 14.25%;
    grid-template-columns: 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 14.25%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: 1 / 2 / span 1 / span 5;
    padding: 0;
    border: none;
    font-size: 16px;
    font-weight: 700; }
    .grid-container #submenu .cell {
      padding: 0;
      background: #8ad3e2;
      -webkit-transition-duration: .3s;
              transition-duration: .3s; }
      .grid-container #submenu .cell:hover {
        background: #4eaeec; }
    .grid-container #submenu .cell a {
      display: block;
      padding: 15px 0;
      color: #212121;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      -webkit-transition-property: all;
      transition-property: all; }
      .grid-container #submenu .cell a:hover {
        -webkit-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1); }

/* index.html */
#main #main-top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 10 / span 5;
  padding: 30px;
  background: #f9a1b6; }
  #main #main-top h1 {
    margin-top: 30px;
    font-size: 80px; }
  #main #main-top h2 {
    margin-bottom: 40px;
    font-size: 50px; }
  #main #main-top #main-text {
    width: 75%;
    margin: 0 auto;
    color: #383838;
    font-size: 15px;
    line-height: 1.3; }
    #main #main-top #main-text p {
      margin-bottom: 10px; }
      #main #main-top #main-text p:nth-of-type(3) {
        margin-bottom: 20px; }
    #main #main-top #main-text #note {
      font-size: 12px; }

#main #main-bottom {
  -ms-grid-row: 11;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 11 / 2 / span 3 / span 5;
  padding: 30px;
  background: #01b7af; }
  #main #main-bottom p {
    font-size: 15px; }
  #main #main-bottom .join {
    font-size: 20px;
    line-height: 1.8; }

#main-btn .btn {
  padding: 0;
  background: #fbd437;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all; }
  #main-btn .btn a {
    display: block;
    padding: 30px 0;
    color: #383838;
    font-weight: 700; }
  #main-btn .btn:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }

#main-btn #signup {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / span 2 / span 2; }

#main-btn #login {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 1 / 5 / span 2 / span 2; }

/* thesimpsons.html */
#simpsons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 10 / span 5;
  background-image: url("../images/thesimpsons.jpg");
  background-size: cover; }

/*Simpsons Info*/
#info #info-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / span 9 / span 2;
  padding: 0; }

#info #info-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
  grid-template-columns: 30% 70%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 1 / 4 / span 9 / span 3;
  padding: 0;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 1.3; }
  #info #info-text #info-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 1px;
    border-top: none;
    background: #bfbfbf;
    font-size: 18px; }
  #info #info-text a {
    color: #ff7c49; }
    #info #info-text a:hover {
      background: #ff7c49;
      color: black; }

/*info-img*/
.homer #info-img {
  background: #f9a1b6 url("../images/info-homer.png") no-repeat center;
  background-size: auto 80%; }

.marge #info-img {
  background: #f9a1b6 url("../images/info-marge.png") no-repeat center;
  background-size: auto 90%; }

.bart #info-img {
  background: #f9a1b6 url("../images/info-bart.png") no-repeat center;
  background-size: auto 70%; }

.lisa #info-img {
  background: #f9a1b6 url("../images/info-lisa.png") no-repeat center;
  background-size: auto 75%; }

.maggie #info-img {
  background: #f9a1b6 url("../images/info-maggie.png") no-repeat center;
  background-size: auto 65%; }

/* video.html */
#video-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 2 / span 5;
  position: relative;
  background: #191919; }
  #video-title #select-epi {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 3px 10px;
    border: 2px solid white;
    background: #191919;
    font-family: "Saira", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white; }
  #video-title #btn-like {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 52px;
    height: 52px;
    border: 2px solid white;
    border-radius: 35px;
    background: #fdfef1 url("../images/ico_like.png") no-repeat center;
    cursor: pointer; }

#video-loaded {
  -ms-grid-row: 3;
  -ms-grid-row-span: 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 3 / 2 / span 10 / span 5;
  padding: 0; }

#play-list {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 4 / span 5;
  padding: 0; }
  #play-list > div {
    height: 100%; }
  #play-list > div:not(:first-child) {
    display: none; }
  #play-list .bx-wrapper {
    height: 100%;
    margin: 0;
    padding: 0 40px;
    border: none;
    background: black; }
    #play-list .bx-wrapper .bx-prev {
      left: 7px; }
    #play-list .bx-wrapper .bx-next {
      right: 7px; }
    #play-list .bx-wrapper .bx-viewport {
      height: 100% !important; }
  #play-list #bx-pager li {
    position: relative;
    margin-right: 7px;
    cursor: pointer; }
    #play-list #bx-pager li .btn-hover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      color: #fdfef1;
      opacity: 0;
      font-family: "Saira", sans-serif;
      cursor: pointer;
      -webkit-transition-duration: .4s;
              transition-duration: .4s; }
      #play-list #bx-pager li .btn-hover img {
        display: none;
        width: 32px;
        height: 32px;
        margin: 0 auto; }
      #play-list #bx-pager li .btn-hover:hover, #play-list #bx-pager li .btn-hover:active, #play-list #bx-pager li .btn-hover:focus {
        background: rgba(0, 0, 0, 0.5);
        opacity: 1; }

/* liked.html */
#liked {
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 11 / span 5;
  position: relative;
  height: 350px;
  padding: 40px 30px 50px 50px;
  text-align: left;
  overflow: hidden; }
  #liked #liked-header {
    position: relative;
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 22px; }
    #liked #liked-header #heart {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -16px; }
  #liked li {
    float: left;
    width: 28%;
    margin-right: 5%;
    margin-bottom: 20px; }
    #liked li img {
      width: 100%;
      margin-bottom: 10px; }
    #liked li .title {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 17px;
      line-height: 1.2; }
    #liked li .date {
      font-size: 15px; }
  #liked #btn-seeAll {
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 80px;
    height: 35px;
    margin-left: -40px;
    border: 2px solid #6b6b6b;
    background: #bfbfbf;
    font-family: "Saira", sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition-duration: .4s;
            transition-duration: .4s; }
    #liked #btn-seeAll:hover, #liked #btn-seeAll:active, #liked #btn-seeAll:focus {
      background: #6b6b6b;
      color: white; }

/* roadmap.html */
#roadmap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 17;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 17 / span 5;
  padding: 50px 80px;
  background: #c896e9; }
  #roadmap .odd {
    border-left: 3px dashed #383838;
    border-bottom: 3px dashed #383838;
    text-align: left; }
  #roadmap .even {
    border-right: 3px dashed #383838;
    border-bottom: 3px dashed #383838;
    text-align: right; }
  #roadmap > div:last-of-type {
    border-bottom: 0; }
  #roadmap .odd, #roadmap .even {
    position: relative;
    display: inline-block;
    width: 90%;
    padding: 30px; }
  #roadmap > div:not(:first-of-type) {
    margin-top: -2px; }
  #roadmap .btn-num {
    top: 50%;
    margin-top: -20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #383838;
    color: #fdfef1;
    font-family: "Saira", sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition-duration: .4s;
            transition-duration: .4s; }
    #roadmap .btn-num:hover {
      background: #01b7af;
      color: black; }
  #roadmap .odd .btn-num {
    position: absolute;
    left: -20px; }
  #roadmap .even .btn-num {
    position: absolute;
    right: -20px; }
  #roadmap .text {
    padding-left: 20px;
    overflow: hidden;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 1.2; }
    #roadmap .text .title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700; }
    #roadmap .text p {
      opacity: 1;
      -webkit-transform: translate(-513px, 0);
              transform: translate(-513px, 0);
      -webkit-transition-duration: 1s;
              transition-duration: 1s; }
  #roadmap .even .text {
    padding-right: 20px; }
    #roadmap .even .text p {
      -webkit-transform: translate(513px, 0);
              transform: translate(513px, 0); }

/*Grid Form*/
.grid-container .form {
  position: relative;
  background: #fbd437;
  text-align: center; }
  .grid-container .form h2 {
    padding: 30px 0;
    font-size: 30px; }
  .grid-container .form input {
    display: block;
    width: 400px;
    margin: 0 auto 30px;
    padding: 22px 15px;
    border: 5px solid #6b6b6b; }
    .grid-container .form input::-webkit-input-placeholder {
      font-size: 15px;
      font-family: "Saira", sans-serif; }
    .grid-container .form input::-moz-placeholder {
      font-size: 15px;
      font-family: "Saira", sans-serif; }
    .grid-container .form input:-ms-input-placeholder {
      font-size: 15px;
      font-family: "Saira", sans-serif; }
    .grid-container .form input::-ms-input-placeholder {
      font-size: 15px;
      font-family: "Saira", sans-serif; }
    .grid-container .form input::placeholder {
      font-size: 15px;
      font-family: "Saira", sans-serif; }
    .grid-container .form input#btn-done {
      width: 85px;
      padding: 10px 0;
      border: 3px solid #6b6b6b;
      background: #bfbfbf;
      color: #383838;
      font-family: "Saira", sans-serif;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      -webkit-transition-duration: .4s;
              transition-duration: .4s; }
      .grid-container .form input#btn-done:hover, .grid-container .form input#btn-done:active, .grid-container .form input#btn-done:focus {
        background: #6b6b6b;
        color: #fdfef1; }
  .grid-container .form #cancel-btn {
    position: absolute;
    right: 25px;
    top: 25px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: all;
    transition-property: all; }
    .grid-container .form #cancel-btn:hover {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2); }

.grid-container #signup {
  -ms-grid-row: 1;
  -ms-grid-row-span: 13;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 13 / span 5; }

.grid-container #login {
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 1 / 2 / span 11 / span 5; }

/* showlist.html */
#showlist h1 {
  margin-bottom: 30px; }

#showlist table {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: 'Noto Sans KR', sans-serif; }
  #showlist table th, #showlist table td {
    padding: 10px;
    border: 1px solid black; }
  #showlist table thead {
    border-bottom: 1px solid black; }
  #showlist table th {
    background: #bfbfbf; }
